*{box-sizing: border-box;}
a{text-decoration: none;}
body{
    margin: 0; padding: 0; font-family: 'DM Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

#topo{
    background-color: #FFE4B5;
    padding: 15px;
    overflow: hidden;

}
#topo .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#topo .menu ul li{
	display: inline-block;
	padding: 10px;
	font-weight: 500;
}
.menu ul li a {
	color: #444;
	transition: all 1s ease;
}
.menu li a:hover{
	color: #20B2AA;
}
#topo .logo{
	float: left;
	vertical-align: middle;
	font-weight: bold;
	text-transform: uppercase;
}
#topo .logo img {
	vertical-align: middle;
}
#topo .menu{
	float: right;
}
#banner {
	background-color:#FFE4B5;
	overflow: hidden;
	padding: 25px 15px;
	margin-bottom: 100px;
}
#banner h2 {
	font-size: 52px;
}
#banner p {
	font-size: 20px;
	margin-bottom: 40px;
}
#banner input.icon-whats{
	padding: 22px 5px 22px 55px;
	border:none;
	border-radius: 6px 0 0 6px;
	background: url(imagens/whats.png) no-repeat 20px center, #fff;
	background-size: 26px auto;
	width: 60%;
	box-shadow: 2px 3px 7px #555;
}
#banner input::placeholder{
	color: #00334e;
}
#banner .bt-whats{
	padding: 26px 5px;
	border: none;
	background: url(imagens/seta-branca.png) no-repeat center center, #00334e ;
	color: #fff;
	border-radius: 0 8px 8px 0;
	width: 10%;
	height: 60px;
	animation: seta 2s linear infinite;
	box-shadow: 2px 3px 7px #555;
}

.img-banner{
	margin-left: 120%;
	animation-name: direita;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.77, -0.27, 0.04, 1.3);
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.title{
	text-align: center;
	font-size: 32px;
	padding: 0 15px;
}
.imagem img {
	width: 100%; 
}
#cardapio .imagem{
	position: relative;
	box-shadow: 1px 1px 7px  grey;
}
#cardapio .imagem:hover{
	box-shadow: none;
}
#cardapio .imagem::after{
	content: "";
	display: block;
	position: absolute;
	top: -5px;
	left: -5px;
	width: 0%;
	height: 0%;
	background-color: black;
	z-index: -1;

}
#cardapio .imagem::before{
	content: "";
	display: block;
	position: absolute;
	bottom: -2px;
	right: -5px;
	width: 0%;
	height: 0%;
	background-color: #20B2AA;
	z-index: -1;
}
#cardapio .imagem:hover::before, #cardapio .imagem:hover::after{
	width: 80%;
	height: 80%;
	transition: all 0.7s ease;

}
.infos-pratos h3 {
	margin-bottom: 0;
}
.infos-pratos p {
	margin-top: 10px;
}
.bt-destaque{
	display: block;
    width: 150px;
    height: 49px;
    margin: 100px auto ;
    text-align: center;
    padding: 15px 5px;
    overflow: hidden;
    border-radius: 200px;
    background: #20B2AA;
    color: #fff;  
    position:relative;
    box-shadow: 2px 4px 8px #555; 
    font-size: 16px;
}
.bt-destaque::after{
	content: "";
	position: absolute;
	width: 7px;
	height: 60px;
	background: rgba(255, 255, 255,0.3);
	left: -8px;
	top: -10px;
    transform: rotate(20deg);
}
.bt-destaque:hover{
	box-shadow: 1px 1px 5px #555;
	font-size: 15px;
}
.bt-destaque:hover::after{
	left: 155px;
	transition: all 0.4s cubic-bezier(0.87, 0.06, 0.15, 0.99);
}
.receba .infos-pratos {
	text-align: center;
}
.receba .imagem {
	text-align: center;
	position: relative;
}
.receba .imagem img {
	width: auto;
}
.receba .imagem::before {
	content: '1';
	display: block;
	background: rgb(34,193,195);
	background: linear-gradient(90deg, rgba(34,193,195,1) 10%, rgba(33,191,192,1) 32%, rgba(32,178,170,1) 58%, rgba(33,189,188,1) 91%, rgba(32,178,170,1) 100%);
	color: #fff;
	border-radius: 50%;
	width: 40px;
	font-size: 24px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px; 
	position: absolute;
	top: 5px;
	left: 90px;
}
.receba .bloco-3:nth-child(2)  .imagem::before{
	content: '2';
}
.receba .bloco-3:nth-child(3)  .imagem::before{
	content: '3';
}